div.chatbox {
	background-color: rgba(90, 129, 175, 0.9);
	height: 210px;
	max-width: 250px;	
	position:fixed;
    bottom: 29px;
    right: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	color: black;
}

#posts {
	overflow:auto;
	min-height: 179px;
	max-height: 180px;
	max-width: 250px;
}
.button#toggle {
	position: fixed;
    bottom: 0;
    right: 20px;
    border: 2px solid black;
    border-bottom: none;
}