div.chatbox {
	background-color: rgba(90, 129, 175, 0.9);
	height: 210px;
	max-width: 250px;
	position:fixed;
	bottom: 29px;
	right: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	color: black;
}

#posts {
	overflow:auto;
	min-height: 179px;
	max-height: 180px;
	max-width: 250px;

	li {
		list-style: none;
		padding: 1px 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.button#toggle {
	position: fixed;
	bottom: 0;
	right: 20px;
	border: 2px solid black;
	border-bottom: none;
}

#message, #chat_button {
	width: 67%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#chat_button {
	width: 33%;
}