div.content {
	margin-top: 40px;
	padding: 0 30px 50px;
	position: relative;
	
	p {
		margin-top: 30px;
		
		&:first-child {
			margin-top: 0;
		}
	}
}

.columns {
	.column {
		float: left;
	}

	.column1 {
		width: 30%;
	}

	.column2 {
		width: 70%;

		.screenshots {
			float: right;
		}
	}
}

blockquote {
	margin-top: 130px;
	font-style: italic;

	pre {
		padding-left: 50px;
	}
}

.toggleFullscreen {
	position: absolute;
	top: 0;
	right: 30px;
	width: 24px;
	height: 19px;
	background: url(../images/css/fullscreen.png);
	cursor: pointer;

	&.open {
		background: url(../images/css/fullscreen_close.png);
	}
}

#playerlist {
	 width: 150px;
	 border: 2px solid #aac1ff;
	 position: relative;
	 left: 10px;
	 bottom: 300px;
	 padding: 3px;
}

#button_add_ai {
	margin-right: 10px;
}