div.content {
	margin-top: 40px;
	padding: 0 30px 50px;
	position: relative;
	
	p {
		margin-top: 30px;
		
		&:first-child {
			margin-top: 0;
		}
	}
}

.columns {
	.column {
		float: left;
	}

	.column1 {
		width: 30%;
	}

	.column2 {
		width: 70%;

		.screenshots {
			float: right;
		}
	}
}

blockquote {
	margin-top: 130px;
	font-style: italic;

	pre {
		padding-left: 50px;
	}
}