.button {
	padding: 4px 8px;
	color: #fff;
	font-size: 1rem;
	background: $main-link-color;
	border: 1px solid darken($main-link-color, 20%);
	cursor: pointer;
	@include transition(background 0.2s ease-out);
	
	&:hover {
		text-decoration: none;
		background: darken($main-link-color, 20%);
		@include transition(background 0.2s ease-out);
	}
}

form.form {
	margin-top: 40px;
	
	& > div {
		overflow: hidden;
		margin-top: 10px;
		
		&:first-child {
			margin-top: 0;
		}
		
		label {
			display: block;
			float: left;
			width: 160px;
		}
		
		input, textarea, select {
			width: 200px;
			float: left;
		}
	}
	
	.button {
		margin-top: 20px;
	}
}