header {
	@include clearfix-mixin;

	.wrap {
		float: left;
	}

	nav {
		float: right;
		width: 100px;
		position: relative;
		
		span {
			border: 1px solid #ccc;
			position: relative;
			z-index: 2;
			padding: 4px;
		}

		ul {
			display: none;
			position: absolute;
			top: 25px;
			z-index: 1;
			padding: 4px;
			border: 1px solid #ccc;
		}

		&:hover {
			span {
				border-bottom: 1px solid white;
			}
			
			ul {
				display: block;
			}
		}
	}
}
