@mixin clearfix-mixin {
	display: inline-block;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden; 
	}
	* html & { height: 1px }
	
	/* required comment for clearfix to work in Opera \*/
	& { display: block; }
	/* end clearfix */
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
	transition:         $transition;
}

@mixin rotate-element($deg) {
	$prefixes: "-moz-transform" "-webkit-transform" "-o-transform" "-ms-transform" "transform";
	
	@each $prefix in $prefixes {
		#{$prefix}: rotate(#{$deg}deg);
	}
	
	@if $deg >= 270 {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	@else if $deg >= 180 {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	}
	@else if $deg >= 90 {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	}
	@else {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
	}
}