/* Variables */
$main-font-family: Arial, Verdana, sans-serif;
$main-link-color: #5a81af;
$main-background-color: #5a81af;

$player1-color: #d00000; /* rot */
$player2-color: #1400d0; /* blau */
$player3-color: #22aa0c; /* grün */
$player4-color: #ffea00; /* dunkelgelb */
$player5-color: #9b5b16; /* braun */
$player6-color: #810086; /* lila */